@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 15px;
  background-color: #fafafa;
  font-weight: 300;
  line-height: 1.5;
  position: relative;
}
